export CC="$HOME/.platformio/packages/toolchain-xtensa32/bin/xtensa-esp32-elf-gcc"
export CXX="$HOME/.platformio/packages/toolchain-xtensa32/bin/xtensa-esp32-elf-g++"
export AR="$HOME/.platformio/packages/toolchain-xtensa32/bin/xtensa-esp32-elf-ar"
export AS="$HOME/.platformio/packages/toolchain-xtensa32/bin/xtensa-esp32-elf-as"
export LD="$HOME/.platformio/packages/toolchain-xtensa32/bin/xtensa-esp32-elf-ld"
export GDB="$HOME/.platformio/packages/toolchain-xtensa32/bin/xtensa-esp32-elf-gdb"
export OBJCOPY="$HOME/.platformio/packages/toolchain-xtensa32/bin/xtensa-esp32-elf-objcopy"